<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thoughtchimp.dummyapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MyMaterialTheme.Base">
        <activity android:name=".MainProfile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SessionArchive"/>
        <activity android:name=".ActivationCode"/>
        <activity android:name=".DoinPlanWebview"/>

        <activity android:name=".SessionDetails"/>
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".HomeFragment"/></activity>-->
        <activity android:name=".OTPScreen"/>
        <activity android:name=".LoginPage"/>
        <activity android:name=".MainProfile"/>
        <activity android:name=".ParentProfile">
        <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity"/></activity>
        <activity android:name=".Youtubevideo"/>
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="SessionDetails"/></activity>-->
        <activity android:name=".Imageshow">



       </activity>
        <activity android:name=".Storylistener">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="SessionDetails"/></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f21d16951642c2410e83171adabc6f2f029b5783" />
    </application>

</manifest>